a {
	color: white;
}
.button {
	text-align: center;
}
.title {
	font-size: 100px;
	text-align: center;
	margin-top: 17%;
}
.tagline {
	text-align: center;
}
.hr {
	width: 30%;
}

body {
	background-color: black;
	color: white;
}
.btn {
	background-color: black;
	border-color: white;
	color: white;
	margin-top: 2%;
}
