.private_header {
	text-align: center;
	margin-top: 10%;
}
.referral_code {
	margin-top: 2%;
}
.first_one {
	text-align: center;
	margin-top: 2%;

}
.rental_submit {
	margin-bottom:10%;
}
.rental_form {
	padding-top: 2%;
	text-align: center;
}
.submit_message {
	text-align: center;
	padding: 2%;
}
.row_board {
	margin-top: 5%;
}