.about_title {
	text-align: center;
}
.about_body {
	text-align: center;
	background: white;
	color: black;
	

}
.hr_about {
	width: 45%;
}
.footer {
	margin-bottom: 5%;
	text-align: center;
	background: white;
	color: black;
	width: 50%;
}